@using ThePath.Frontend.Models.Enum;
<head>
    <title>GeoEvent</title>
    <script src="~/js/map.js" charset="utf-8" type="text/javascript"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>

    <link rel="stylesheet" href="~/css/MarkerCluster.css" />
    <link rel="stylesheet" href="~/css/MarkerCluster.Default.css" />
    <script src="~/js/leaflet.markercluster-src.js"></script>
</head>
<body>
    <h1>
        Выберите нужное местоположение
    </h1>
    <style>
        #map {
            height: 800px;
        }
    </style>
    <div class="container">
    
            <div id="map"></div>
    
    </div>
    

    <div>
        <script>
            StartMapAllList();
        </script>
    </div>
</body>

