@using ThePath.Frontend.Models.Enum;

@{
    ViewData["Title"] = "Выбор вида развлечений";
    ViewData["Description"] = "Хочешь найти кинотеатры Томска ? Хочешь найти кафе Томска ? Хочешь найти рестораны Томска ? Хочешь найти базы отдыха Томска ? Хочешь найти сауны Томска ? Хочешь найти достопримечательности Томска ? Хочешь найти развлечения для детей в Томске ? Хочешь найти спортзалы Томска ? Конная прогулка в Томске ? Хочешь найти интересные места Томска ? Тогда тебе cюда!";
    ViewData["Keywords"] = "карта развлечений в Томске, место развлечения в Томске, кинотеатры Томска, кафе Томска, рестораны Томска,  базы отдыха Томска, сауны Томска, достопримечательности Томска, бани Томска, развлечения для детей в Томске, спортзалы Томска, Конная прогулка в Томске, интересные места Томска, куда сходить в Томске, куда можно сходить в Томске, куда сходить с детьми в Томске, куда сходить в томске в выходные, куда сходить в томске сегодня, куда сходить в томске в декабре, куда сходить в томске приезжим, пушкинская карта томск куда сходить, томск куда сходить с детьми в выходные, куда сходить в томске зимой, куда сходить томск кафе, куда сходить в томске покушать, куда сходить на новый год в томске, томск куда сходить семьей, куда сходить на день рождения томск, куда сходить с девушкой в томске, томск куда сходить вечером, куда сходить на день рождения томск, куда сходить в томске поесть, куда сходить в томске на новогодние праздники, куда сходить подростку в томске, томск куда сходить туристу, куда сходить в томске развлечения, куда можно сходить в томске развлечения";
}

<body>
    <main class="page projets-page">
        <div class="block-heading">
            <p class="text-center" style="padding: 5px; font-family: Montserrat, sans-serif;font-size: 28px;">Выбери вид развлечений</p>
        </div>
        <section class="portfolio-block projects compact-grid py-2">
            <div class="row no-gutters">
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a asp-controller="Home" asp-action="PickPrice" asp-route-TypeEntertainment=@TypeEntertainment.Cinema>
                    <img class="img-fluid image" src="~/img/HomePickEntertainment/kt-UOrU1oKUbQcLqWc1iNhdXZbF-rELXgpTPN3AzbaDX0buXOFoMJb1fiQ1jbtqkQU0paDhg2e-VYuQrCSb8KHdv.jpg?h=0694ba6b1fd4698ededae7e844b91b1d"><span class="description"><span class="description-heading">Кинотеатр</span></span></a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a asp-controller="Home" asp-action="PickPrice" asp-route-TypeEntertainment=@TypeEntertainment.CafesAndRestaurants>
                    <img class="img-fluid image" src="~/img/HomePickEntertainment/ZU4Izt8R4RAf6zFDDGfuHL2A96-h3JxYAFnsK0dfqztI-2KPDhIJtOUpsHrJPTCfNVe7JHKRhaiz5cJWV_xoov96.jpg?h=53c728230fbe37b830c875a5ca3ff533"><span class="description"><span class="description-heading">Кафе, рестораны</span></span></a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a asp-controller="Home" asp-action="PickPrice" asp-route-TypeEntertainment=@TypeEntertainment.RecreationCenters><img class="img-fluid image" src="~/img/HomePickEntertainment/Ve50n3yqwwfzymnylnV-wrw7i9l_an_t4CGSz_6F8lrOvnd83diLjIlfYZXRrIqqWogymi5DNltd0oCHF-G7_hhыi.jpg?h=719831787a4f5881a63bae713746e25b"><span class="description"><span class="description-heading">Базы отдыха</span></span></a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a asp-controller="Home" asp-action="PickPrice" asp-route-TypeEntertainment=@TypeEntertainment.Saunas><img class="img-fluid image" src="~/img/HomePickEntertainment/tAwmVRhmHuTtiSU-9nTAhUWx365D8WelQ3tOW7qNFPuzjmf9pCNIn21z3nx7priw7f1ykwtbiыFkPKiF3Ll08qRdG.jpg?h=9999fa7c889d78114d1f5d043285d864"><span class="description"><span class="description-heading">Сауны</span></span></a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a asp-controller="Home" asp-action="PickPrice" asp-route-TypeEntertainment=@TypeEntertainment.Attraction><img class="img-fluid image" src="~/img/HomePickEntertainment/лагерный-сад.jpg?h=c11961b47185463cd3f896048843d508"><span class="description"><span class="description-heading">Достопримечательности</span></span></a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a asp-controller="Home" asp-action="PickPrice" asp-route-TypeEntertainment=@TypeEntertainment.EntertainmentForChildren><img class="img-fluid image" src="~/img/HomePickEntertainment/Gj-AnmWOOv3ds0HnkBZaqevFbsndyvVIRhjxtPkCeuJpl_D2y1oxillMNheedtXtH_05LbzxYy5Xq8uo1Y0qQhx6.jpg?h=e17022e5c655e16555b99b09b9fba983"><span class="description"><span class="description-heading">Развлечения для детей</span></span></a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a asp-controller="Home" asp-action="PickPrice" asp-route-TypeEntertainment=@TypeEntertainment.Sport><img class="img-fluid image" src="~/img/HomePickEntertainment/ahNiGhH4UMJYVESq8bevTnljC2eJNrAlT6a3s-tu29CwnlT6r3PIJK3MidQ6885awkR2YvACjHW-kTpZL37ltBhl.jpg?h=db78d76685854bd72600e5ec7a6cadab"><span class="description"><span class="description-heading">Спорт</span></span></a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a asp-controller="Home" asp-action="PickPrice" asp-route-TypeEntertainment=@TypeEntertainment.HorseRides><img class="img-fluid image" src="~/img/HomePickEntertainment/R0r4PwC8MdlgV8w5clKXxgpsspIMegDgEz1W1t5VrD7hKzQ6dcgTPsm55jVevyR2QJvIiM9M82kmUA-jzsIN6gni.jpg?h=6f57fad4e3e91092eba7fc851aeec6b7"><span class="description"><span class="description-heading">Конные прогулки</span></span></a>
                </div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a asp-controller="Home" asp-action="PickPrice" asp-route-TypeEntertainment=@TypeEntertainment.InterestingPlacesInTomsk><img class="img-fluid image" src="~/img/HomePickEntertainment/blue-cliff-tomsk.jpg?h=f73b8821edcaf0ed373236b3f54fb62e"><span class="description"><span class="description-heading">Интересные места Томска</span></span></a>
                </div>
            </div>
        </section>
    </main>
</body>