<div class="container">
    <p class="text-center" style="padding: 5px;font-family: Montserrat, sans-serif;font-size: 28px;">Выберите цену</p>
    <section class="portfolio-block projects compact-grid p-3" style="height: 730px;">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-6 item zoom-on-hover">
                <a asp-controller="Home" asp-action="GetSearchLocation" asp-route-TypeEntertainment="0">
                    <img class="img-fluid image" src="~/img/Yes/h-15367.png"><span class="description"><span class="description-heading">Цена больше</span></span>
                </a>
            </div>
            <div class="col-md-6 col-lg-6 item zoom-on-hover">
                <a asp-controller="Home" asp-action="GetSearchLocation" asp-route-TypeEntertainment="0">
                    <img class="img-fluid image" src="~/img/No/xczc7pzbesebfzpli9ib.png"><span class="description"><span class="description-heading">Цена меньше</span></span>
                </a>
            </div>
        </div>
    </section>
</div>
