@using ThePath.Frontend.Models.Enum;
@using ThePath.Frontend.Models.Classes.Vm;
@model PickPriceVm;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects - Brand</title>
</head>

<body>
    <main class="page projets-page">
        <div class="container">
            <p class="text-center" style="font-family: Montserrat, sans-serif;font-size: 28px;">Средняя цена посещения больше @Model.Price ?</p>
            <section class="portfolio-block projects compact-grid p-3" style="height: 800px;">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-6 item zoom-on-hover">
                        <a asp-controller="Home" asp-action="PickArea" asp-route-TypeEntertainment=@Model.TypeEntertainment asp-route-Price=@Model.Price asp-route-IntervalMoney=@IntervalMoney.More>
                            <img class="img-fluid image" src="~/img/Yes/h-15367.png"><span class="description"><span class="description-heading">Цена больше</span></span>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-6 item zoom-on-hover">
                        <a asp-controller="Home" asp-action="PickArea" asp-route-TypeEntertainment=@Model.TypeEntertainment asp-route-Price=@Model.Price asp-route-IntervalMoney=@IntervalMoney.Less>
                            <img class="img-fluid image" src="~/img/No/xczc7pzbesebfzpli9ib.png"><span class="description"><span class="description-heading">Цена меньше</span></span>
                        </a>
                    </div>
                </div>
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-6 col-lg-6 item zoom-on-hover">
                        <a asp-controller="Home" asp-action="PickArea" asp-route-TypeEntertainment=@Model.TypeEntertainment asp-route-Price=@Model.Price asp-route-IntervalMoney=@IntervalMoney.NoMatter>
                            <img class="img-fluid image" src="~/img/no matters/noMatters.png"><span class="description"><span class="description-heading">Не важно</span></span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="row no-gutters justify-content-center" style="margin: 8px;">
            <a class="btn btn-outline-primary" role="button" onclick="history.back()" style="width: 187px;font-size: 22px;"><strong>Вернуться назад</strong></a>
        </div>
    </main>
</body>
</html>