<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects - Brand</title>
</head>

<body>
    <main class="page projects-page">
        <div class="row justify-content-center" style="padding: 10px 30px;">
            <h3>Поиск "Replace кинотеатров"</h3>
        </div>
        <div class="row justify-content-end" style="padding: 10px 30px;"><button class="btn btn-outline-primary" type="button" style="width: 120px;font-size: 22px;">Фильтр</button></div>
    </main>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</body>

</html>
