<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @ViewBag.Title
    </title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css?h=1ef0762f6cffa01d5f965192c2c43513">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/fonts/ionicons.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="~/css/slider.css?h=38a515b6b30123300b3619cce6411cec">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark fixed-top bg-white gradient">
            <div class="container">
                <a class="navbar-brand logo" asp-action="Index" asp-controller="Home">
                    Path Tomsk
                </a>
            </div>
        </nav>
    </header>
    <div style="margin-top:80px">
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="container" style="border-style: none;">
            <div class="links"><a href="#">Контакты</a><a href="#">Отблагодарить автора</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="~/js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
    <script src="~/bootstrap/js/bootstrap.min.js?h=0168f7c1e0d08faa2f4b13f4a1dc8c98"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="~/js/slider.js?h=975b2635c9a06eae9f47d6cae8158a12"></script>
    <script src="~/js/slider-1.js?h=417b03f5f0a4f9f27f8c248f532eb5af"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="~/js/theme.js?h=4e0250612cb0b1aba8835335a87f4f23"></script>
</body>
</html>
